salimov/.next/cache
salimov/.next/trace
salimov/.next/static/development/_buildManifest.js
salimov/.next/server/middleware-build-manifest.js
salimov/.next/server/pages-manifest.json
salimov/.next/static/chunks/webpack.js
